<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <section>
    <form action="POST">
      <input type="text" id="userchoice" name="" placeholder="Enter Choice"></input>
      <button id="clickMe" type="button" name="button">Click Me</button>
    </form>
    <div class="result">
      <h2>Player: <span id="playersdecision"></span></h2>
      <h2>Bot: <span id="botsdecision"></span></h2>
      <h2>Result: <span id="result"></span></h2>
    </div>
  </section>

  <section id="scores">
    <h2>First to three wins!</h2>
    <span>Player's score:
      <span id="playerpoints"></span>
    </span>
    <span>Bot's score:
      <span id="botpoints"></span>
    </span>
  </section>

  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>